.numbers-windows button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
}

.inner {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}

.checked {
  background-color: #1462a6;
}
