.balance-text {
  flex-basis: 100px;
  display: flex;
  align-items: center;
  margin-left: 50;
  color: white;
}
.balance-text-down {
  flex-basis: 200px;
  display: flex;
  align-items: center;
  width: 200px;
}
